@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=swap');
body {
    background: rgb(56, 56, 56);
}

.bg-color {
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px #e21a4c;
    border-bottom: 1px #e21a4c;
}

.img-banner {
    height: 50rem;
    min-height: 50rem;
    max-height: 50rem;
    width: 100%;
    object-fit: cover;
}

#logo {
    font-size: 5vh;
    color: rgb(255, 255, 255);
}

#home {
    font-family: Roboto;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    align-items: center;
    transition: 0.3s;
}

#home:hover {
    transition: 0.3s;
    text-shadow: 0px 0px 15px #e21a4c;
    color: #e21a4c;
}

#font {
    font-family: Roboto;
    font-size: 1rem;
    color: rgb(255, 251, 251);
    align-items: center;
    transition: 0.3s;
}

#font:hover {
    transition: 0.3s;
    text-shadow: 0px 0px 15px #e21a4c;
    color: #e21a4c;
}

#font2 {
    font-family: Roboto;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    align-items: center;
    transition: 0.3s;
}

#font2:hover {
    transition: 0.3s;
    text-shadow: 0px 0px 15px #e21a4c;
    color: #e21a4c;
}

.text-carrosel {
    -webkit-text-stroke: #000000 1px;
}

.text-carrosel2 {
    color: white;
    font-size: 20px;
    -webkit-text-stroke: #000000 0.7px;
}

.btn-carrosel {
    background: black;
    color: white;
    font-family: Roboto;
    align-items: center;
    border-radius: 10px;
    border: 4px solid transparent;
    transition: 0.3s
}

.btn-carrosel:hover {
    text-shadow: 0px 0px 10px #e21a4c;
    color: #e21a4c;
    transition: 0.3s
}

.neon {
    box-shadow: 0px 0px 20px #e21a4c;
    background: #e21a4c;
}

.bg-title {
    color: #ffffff;
    font-family: Roboto;
    text-shadow: 0px 0px 3px #ffffff;
}

.d {
    line-height: 0.9em;
    text-decoration: none;
    font-size: 1vh;
    font-family: Poppins;
}

.d::after {
    content: '';
    width: 150px;
    height: 3px;
    display: block;
    background: #e21a4c;
    box-shadow: 0px 0px 20px #e21a4c
}

.jg {
    border-radius: 25%;
    height: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    width: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 15px #000000;
}

.btn-gratis {
    background: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: Roboto;
    transition: 0.3s
}

.btn-gratis:hover {
    text-shadow: 0px 0px 10px #e21a4c;
    color: #e21a4c;
    transition: 0.3s;
    background: black;
}

.xbox {
    background: #088b08;
    border: none;
    transition: 0.3s
}

.xbox:hover {
    background: #075307;
    transition: 0.3s
}

.ps {
    background: #012d8b;
    border: none;
    transition: 0.3s
}

.ps:hover {
    background: #05205a;
    transition: 0.3s
}

.steam {
    background: #083364;
    border: none;
    transition: 0.3s
}

.steam:hover {
    background: #042346;
    transition: 0.3s
}

.bg-footer {
    background: #000000;
}

.bg-importante {
    font-size: 18px;
    font-family: Roboto;
    color: white;
    margin: 0px 50px;
}

.links {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    margin: 0px 50px;
}

.links:hover {
    color: #e21a4c;
    text-shadow: 0px 0px 15px #e21a4c;
    text-decoration: none;
    transition: all 0.3s;
}

#mar {
    margin: 0px 50px;
}

.ico {
    color: #8b0c2c;
    text-shadow: 0px 0px 15px #8b0c2c;
}

.btn-rede {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 25%;
    transition: all 0.3s;
}

.btn-rede:hover {
    background: rgb(255, 255, 255);
    color: #e21a4c;
    text-shadow: 0px 0px 15px #e21a4c;
    transition: all 0.3s;
}

#cor {
    background: #000000;
    width: 100%;
}

.bg-dens {
    text-decoration: none;
    font-size: 2vh;
}

#bg-dens {
    text-decoration: none;
}